<a href="https://colab.research.google.com/github/shardulburde/Exotic-Options-Pricing/blob/main/BarrierOptions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
#Reading Excel Data
#Excel sheet link in next comment
#https://drive.google.com/file/d/1UXq6kIWAaGUmzk41B4ReCg5L_k_vBtas/view?usp=sharing

import pandas as pd
xls = pd.ExcelFile('/content/drive/MyDrive/IndusInd/Barrier_Data.xlsx')
df = pd.read_excel(xls, 'Input')
df1 = pd.read_excel(xls, 'MktData')

In [66]:
df1

   Tenor        DCF    ATM Unnamed: 3  ... Unnamed: 16 USD depo INR Depo      Fwds
0    NaN        NaN    Bid        Ask  ...         Mid      NaN      NaN       NaN
1     1W   0.019444   4.15       5.15  ...      0.0033   0.0060   0.0410   73.3236
2     2W   0.038889  4.165      5.165  ...    0.003225   0.0018   0.0410   73.3856
3     3W   0.058333   4.16      5.155  ...     0.00325   0.0004   0.0410   73.4475
4     1M   0.083333   4.38       4.93  ...    0.004875  -0.0005   0.0410   73.5272
5     2M   0.166667   4.67       5.12  ...     0.00585   0.0005   0.0426   73.8056
6     3M   0.250000      5       5.45  ...    0.006825   0.0004   0.0427   74.0667
7     4M   0.333333  5.195       5.61  ...     0.00765   0.0002   0.0433   74.3622
8     5M   0.416667  5.316      5.721  ...     0.00902   0.0003   0.0439   74.6300
9     6M   0.500000  5.365      5.765  ...     0.00975   0.0006   0.0445   74.9071
10    9M   0.750000  5.575      5.915  ...    0.010575   0.0007   0.0457   75.7735
11    1Y   1.000000  5.745      5.995  ...      0.0119   0.0014   0.0470   76.6591
12   18M   1.500000   5.65      5.945  ...    0.012925   0.0014   0.0486   78.5284
13    2Y   2.000000   5.61       5.91  ...     0.01445   0.0023   0.0502   80.3673
14    3Y   3.000000   5.35       5.85  ...     0.02095   0.0041   0.0547   84.4214
15    4Y   4.000000   5.15       5.78  ...    0.023375   0.0063   0.0583   88.3307
16    5Y   5.000000  5.125      5.875  ...     0.02615   0.0084   0.0628   92.6685
17    6Y   6.000000  4.672      6.185  ...    0.036355   0.0103   0.0676   97.3442
18    7Y   7.000000  4.275      6.475  ...      0.0431   0.0119   0.0720  102.1009
19   10Y  10.000000  4.275      6.475  ...      0.0731   0.0156   0.0837  116.9994

[20 rows x 20 columns]

In [67]:
#Interpolating Market Vol Data
from scipy import interpolate

def atm(tenor):

  x_points=pd.DataFrame([])   
  y_points=pd.DataFrame([])  

  for i in range(19):
    x=pd.DataFrame([df1._get_value(i+1,1,True)])
    y=pd.DataFrame([df1._get_value(i+1,4,True)])
    x_points=x_points.append(x, ignore_index = True)
    y_points=y_points.append(y, ignore_index = True)
      
  tck = interpolate.splrep(x_points, y_points)
  return float(interpolate.splev(tenor, tck))

def rr25d(tenor):

  x_points=pd.DataFrame([])   
  y_points=pd.DataFrame([])  

  for i in range(19):
    x=pd.DataFrame([df1._get_value(i+1,1,True)])
    y=pd.DataFrame([df1._get_value(i+1,7,True)])
    x_points=x_points.append(x, ignore_index = True)
    y_points=y_points.append(y, ignore_index = True)
      
  tck = interpolate.splrep(x_points, y_points)
  return float(interpolate.splev(tenor, tck))

def fly25d(tenor):

  x_points=pd.DataFrame([])   
  y_points=pd.DataFrame([])  

  for i in range(19):
    x=pd.DataFrame([df1._get_value(i+1,1,True)])
    y=pd.DataFrame([df1._get_value(i+1,10,True)])
    x_points=x_points.append(x, ignore_index = True)
    y_points=y_points.append(y, ignore_index = True)
      
  tck = interpolate.splrep(x_points, y_points)
  return float(interpolate.splev(tenor, tck))


def rr10d(tenor):

  x_points=pd.DataFrame([])   
  y_points=pd.DataFrame([])  

  for i in range(19):
    x=pd.DataFrame([df1._get_value(i+1,1,True)])
    y=pd.DataFrame([df1._get_value(i+1,13,True)])
    x_points=x_points.append(x, ignore_index = True)
    y_points=y_points.append(y, ignore_index = True)

  tck = interpolate.splrep(x_points, y_points)
  return float(interpolate.splev(tenor, tck))
      

def fly10d(tenor):

  x_points=pd.DataFrame([])   
  y_points=pd.DataFrame([])  

  for i in range(19):
    x=pd.DataFrame([df1._get_value(i+1,1,True)])
    y=pd.DataFrame([df1._get_value(i+1,16,True)])
    x_points=x_points.append(x, ignore_index = True)
    y_points=y_points.append(y, ignore_index = True)
    
  tck = interpolate.splrep(x_points, y_points)
  return float(interpolate.splev(tenor, tck))

In [68]:
#Making Call Delta functions that return vol for given tenor from mkt data

def d10(tenor):
  vol=atm(tenor)+fly10d(tenor)+rr10d(tenor)/2

  return vol

def d25(tenor):
  vol=atm(tenor)+fly25d(tenor)+rr25d(tenor)/2

  return vol

def d75(tenor):
  vol=atm(tenor)+fly25d(tenor)-rr25d(tenor)/2

  return vol

def d90(tenor):
  vol=atm(tenor)+fly10d(tenor)-rr10d(tenor)/2

  return vol

In [70]:
#Interpolation for vol for tenor b/w 0.1, 0.25, 0.5, 0.75 and 0.9 call delta

from scipy import interpolate

def vol(delta,tenor):

  y1=d10(tenor)
  y2=d25(tenor)
  y3=atm(tenor)
  y4=d75(tenor)
  y5=d90(tenor)

  x_points = [0.1, 0.25, 0.5, 0.75, 0.9]
  y_points = [y1,y2,y3,y4,y5]

  tck = interpolate.splrep(x_points, y_points)
  return interpolate.splev(delta, tck)

In [82]:
#Making Vol Lookup Function

import numpy as np
import math
import scipy
from scipy.stats import norm

#Vol for Up Out
def VolUpOut():
  
  tenor=df._get_value(4,1,True)
  rate=df._get_value(5,1,True)-df._get_value(6,1,True)
  strike=df._get_value(0,1,True)
  spot=df._get_value(1,1,True)

  
  v = atm(tenor)
    
  for i in range(4):
    d=(np.log(spot/strike)+(rate-v*v/2)*tenor)/(v*math.sqrt(tenor))
    delta=scipy.stats.norm.cdf(d) 
    v=vol(delta,tenor) 

  return v


#Vol for Down Out
def VolDownOut():
  
  tenor=df._get_value(4,2,True)
  rate=df._get_value(5,2,True)-df._get_value(6,2,True)
  strike=df._get_value(0,2,True)
  spot=df._get_value(1,2,True)

  v = atm(tenor)
    
  for i in range(4):
    d=(np.log(spot/strike)+(rate-v*v/2)*tenor)/(v*math.sqrt(tenor))
    delta=scipy.stats.norm.cdf(d) 
    v=vol(delta,tenor)

  return v
  
  
#Vol for Up In
def VolUpIn():
  
  tenor=df._get_value(4,3,True)
  rate=df._get_value(5,3,True)-df._get_value(6,3,True)
  strike=df._get_value(0,3,True)
  spot=df._get_value(1,3,True)

  v = atm(tenor)
    
  for i in range(4):
    d=(np.log(spot/strike)+(rate-v*v/2)*tenor)/(v*math.sqrt(tenor))
    delta=scipy.stats.norm.cdf(d) 
    v=vol(delta,tenor)

  return v

#Vol for Down In
def VolDownIn():
  
  tenor=df._get_value(4,4,True)
  rate=df._get_value(5,4,True)-df._get_value(6,4,True)
  strike=df._get_value(0,4,True)
  spot=df._get_value(1,4,True)

  v =atm(tenor)

    
  for i in range(4):
    d=(np.log(spot/strike)+(rate-v*v/2)*tenor)/(v*math.sqrt(tenor))
    delta=scipy.stats.norm.cdf(d) 
    v=vol(delta,tenor)

  return v

In [83]:
import math
import numpy as np

#Creating Knock Out Pricing Functions

#Up and Out

def UpOut(strike, spot, tenor, INRr, USDr, vol, t, numsim, bar):
  
  
  rate = (INRr)/100-(USDr)/100
  
  sum = 0.0
  
  if vol==0:
    vol=VolUpOut()
  else:
    vol=vol

  n=round(tenor*365/t)

    
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd > bar :
        fwd=0
  
    payoff = max(fwd - strike, 0)
    sum = sum + payoff

  Up_Out_Call=100*(sum / numsim) * math.exp(-rate * tenor)

  sum = 0.0
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd > bar :
        fwd=0
  
    if fwd == 0: 
      payoff = 0
        
    else:
      payoff = max(strike - fwd, 0)
            
         
    sum = sum + payoff

  Up_Out_Put=100*(sum / numsim) * math.exp(-rate * tenor)

         
  return Up_Out_Call,Up_Out_Put




#Down and Out

def DownOut(strike, spot, tenor, INRr, USDr, vol, t, numsim, bar):
  
 


  rate = np.log(1+(INRr)/100-(USDr)/100) 
  sum = 0.0
  
  if vol==0:
    vol=VolDownOut()
  else:
    vol=vol

  n=round(tenor*365/t)

    
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd < bar :
        fwd=0
  
    payoff = max(fwd - strike, 0)
    sum = sum + payoff

  Down_Out_Call=100*(sum / numsim) * math.exp(-rate * tenor)

  sum = 0.0
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd < bar :
        fwd=0
  
    if fwd == 0: 
      payoff = 0
        
    else:
      payoff = max(strike - fwd, 0)
            
         
    sum = sum + payoff

  Down_Out_Put=100*(sum / numsim) * math.exp(-rate * tenor)

         
  return Down_Out_Call,Down_Out_Put


#Creating Knock In Pricing Functions

#Up and In

def UpIn(strike, spot, tenor, INRr, USDr, vol, t, numsim, bar):
  
  
  rate = np.log(1+(INRr)/100-(USDr)/100)
  
  sum = 0.0
  
  if vol==0:
    vol=VolUpIn()
  else:
    vol=vol

  n=round(tenor*365/t)

    
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd > bar :
        for k in range(n-j):
          fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

        payoff = max(fwd - strike, 0)
        sum = sum + payoff
        
        break

    

  Up_In_Call=100*(sum / numsim) * math.exp(-rate * tenor)

  sum = 0
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd > bar :
        for k in range(n-j):
          fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

        payoff = max(strike-fwd, 0)

        sum = sum + payoff
        break

      

  Up_In_Put=100*(sum / numsim) * math.exp(-rate * tenor)



         
  return Up_In_Call,Up_In_Put 

#Down and In

def DownIn(strike, spot, tenor, INRr, USDr, vol, t, numsim, bar):
  
  
  rate = np.log(1+(INRr)/100-(USDr)/100)
  
  sum = 0.0
  
  if vol==0:
    vol=VolDownIn()
  else:
    vol=vol

  n=round(tenor*365/t)

    
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd < bar :
        for k in range(n-j):
          fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

        payoff = max(fwd - strike, 0)
        sum = sum + payoff
        break

      

  Down_In_Call=100*(sum / numsim) * math.exp(-rate * tenor)

  sum = 0
  for i in range(numsim):

    fwd=spot
    
    for j in range(n):
      fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

      if fwd < bar :
        for k in range(n-j):
          fwd = fwd * math.exp((rate - (vol * vol) / 2) * (t/365) + vol * math.sqrt(t/365) * np.random.normal(loc=0,scale=1.0,size=None))

        payoff = max(strike-fwd, 0)

        sum = sum + payoff
        break

    

  Down_In_Put=100*(sum / numsim) * math.exp(-rate * tenor)


         
  return Down_In_Call,Down_In_Put

In [88]:
df

                                  Unnamed: 0  ...  Down & In
0                                    Strike   ...     75.000
1                                       Spot  ...     73.000
2                                    Barrier  ...     70.000
3                                Tenor(days)  ...    270.000
4                               Tenor(years)  ...      0.750
5                                INR Rate(%)  ...      0.050
6                                USD Rate(%)  ...      0.002
7                                     Vol(%)  ...      0.000
8                             TimeStep(days)  ...      1.000
9                                     NumSim  ...   1000.000
10                                       NaN  ...        NaN
11  Enter 0 vol if lookup is to be performed  ...        NaN

[12 rows x 5 columns]

Up and Out

In [84]:
print('Call and Put Price of Up and Out is',UpOut(df._get_value(0, 'Up & Out'),df._get_value(1, 'Up & Out'),df._get_value(4, 'Up & Out'),df._get_value(5, 'Up & Out'),df._get_value(6, 'Up & Out'),df._get_value(7, 'Up & Out'),df._get_value(8, 'Up & Out'),int(df._get_value(9, 'Up & Out')),df._get_value(2, 'Up & Out')))

Call and Put Price of Up and Out is (2.283544934673519, 198.76587885776283)

Down And Out

In [85]:
print('Call and Put Price of Down and Out is',DownOut(df._get_value(0, 'Down & Out'),df._get_value(1, 'Down & Out'),df._get_value(4, 'Down & Out'),df._get_value(5, 'Down & Out'),df._get_value(6, 'Down & Out'),df._get_value(7, 'Down & Out'),df._get_value(8, 'Down & Out'),int(df._get_value(9, 'Down & Out')),df._get_value(2, 'Down & Out')))

Call and Put Price of Down and Out is (94.42614069324051, 49.02838022323138)

Up and In

In [86]:
print('Call and Put Price of Up and In is',UpIn(df._get_value(0, 'Up & In'),df._get_value(1, 'Up & In'),df._get_value(4, 'Up & In'),df._get_value(5, 'Up & In'),df._get_value(6, 'Up & In'),df._get_value(7, 'Up & In'),df._get_value(8, 'Up & In'),int(df._get_value(9, 'Up & In')),df._get_value(2, 'Up & In')))

Call and Put Price of Up and In is (24.77995337430703, 96.0907648087735)

Down and In

In [87]:
print('Call and Put Price of Down and In is',UpIn(df._get_value(0, 'Down & In'),df._get_value(1, 'Down & In'),df._get_value(4, 'Down & In'),df._get_value(5, 'Down & In'),df._get_value(6, 'Down & In'),df._get_value(7, 'Down & In'),df._get_value(8, 'Down & In'),int(df._get_value(9, 'Down & In')),df._get_value(2, 'Down & In')))

Call and Put Price of Down and In is (81.84313479568975, 272.8573790401278)